@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Muli');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Muli', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;

$primary-light-old: #fa5788;
$primary-old: #c2185b;
$primary-dark-old: #8c0032;

$primary-light: #725af5;
$primary: #352ec1;
$primary-dark: #00038f;
