@import "variables";


body {
    font-family: $font-family-sans-serif ;
}
.showcase {
    background: $primary;
    color: white;
    width: 100%;
}

.primary-light-text:hover {
    color:$primary-light;
}

//.center-content {
//    align-content: center;
//    text-align: center;
//    align-items: center;
//    alignment: center;
//}

.showcase-padding {
    padding: 25px;
}

.navbar-color {
    background: $primary-dark;
}

.footer {
    background: #22292f;
    color: #ffffff;
}

.navbar-animation {
    transition: ease-in-out 2s;
}

.top-buttons {
    margin: 5px;
    background: $primary;
    border-color: #ffffff;
    color: #ffffff;
}

.top-buttons:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: $primary;
}

.navbar-brand-hover:hover {
    color: $primary-light;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.stagingBubble {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px 25px;
    bottom: 0;
    transition: width 2s;
    width: 350px;
}

@media (max-width: 768px) {
    .stagingBubble {
        width: 100%;
    }
}

.systemManagerButton {
    margin: 5px;
    padding: 10px 25px 10px 25px;
    background: $primary;
    color: #ffffff !important;
}

.systemManagerButton-hover:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: $primary !important;
}

.notfound:hover {
    background: $primary;
    border-color: $primary;
    color: #ffffff !important;
}

.notfound {
    background: #ffffff;
    border-color: $primary;
    color: $primary !important;
}

.systemManagerButton-border {
    border-color: $primary;
    color: #ffffff;
}

.systemManagerButton-border:hover {
    border-color: $primary;
    color: #ffffff;
}

.productWip {
    font-size: 2.5rem;
}
@media (max-width: 768px) {
   .productWip {
       font-size: 2.5rem;
   }
}
