// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}