@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "variables";

.showcase {
    background: $primary;
    color: white;
    width: 100%;
}
.showcase-padding {
    padding: 25px;
}
.center-content {
    align-content: center;
    text-align: center;
}
.navbar-color {
    background: $primary-dark;
}
.footer {
    background: #22292f;
    color: #ffffff;
    padding: 25px;
}
