@import "variables";

.showcase {
    background: $primary;
    color: white;
    width: 100%;
}

.showcase-padding {
    padding: 25px;
}

.center-content {
    align-content: center;
    text-align: center;
    align-items: center;
    alignment: center;
}

.navbar-color {
    background: $primary-dark;
}

.footer {
    background: #22292f;
    color: #ffffff;
    padding: 25px;
}

.showcase-screenshots .slick-slide {
    -webkit-transform: scale(.7);
    position: relative;
    transform: scale(.7);
    transition: all .5s ease-in-out;
    display: block;
}

.showcase-screenshots .slick-slide.slick-center {
    -webkit-transformZ: scale (1);
    transformZ: scale (1);
    z-index: 10
}

.showcase-screenshots .slick-slide img {
    max-width: 20rem
}

@media (min-width: 768px) {
    .showcase-screenshots .slick-slide img {
        max-width: 40rem
    }
}

@media (min-width: 1366px) {
    .showcase-screenshots .slick-slide img {
        max-width: 60rem
    }
}


.showcase-screenshots .slick-current {
    transform: scale(1);
    z-index: 10
}

.top-buttons {
    margin: 5px;
    padding: 10px 25px 10px 25px;
    font-size: 1.5em;
    background: $primary;
    border-color: #ffffff;
}

.top-buttons:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: $primary;
}

//.top-buttons: {
//    background: #ffffff;
//    border-color: #ffffff;
//    color: $primary;
//}

.white-text {
    color: $white;
}

.navbar-brand-hover:hover {
    color: $primary-light;
}

.slick-slide img {
    display: inline;
}

li {
    text-decoration: none;
    list-style-type: none;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
